
OS_TYPE=$(uname)
# If the OS is Linux, define the environment variable
if [ "$OS_TYPE" == "Linux" ]; then
 if [[ $(grep -i Microsoft /proc/version) ]]; then
    export ROOT_PATH="/mnt/c"
 else
     export ROOT_PATH="/"
 fi

else
  export ROOT_PATH= "C:"
fi

# maven settings is configured with <localRepository>${env.MVN_REPO_BASE}/.m2/repository</localRepository>
export MVN_REPO_BASE="${ROOT_PATH}/IDE"

export DOCKER_HOST="172.21.1.10"
export ENVIRONMENT="${ROOT_PATH}/IDE/Projects_Git/playground/nomadder/ansible/environment/local"


export DOCKER_TLS_VERIFY=1
export DOCKER_BUILDKIT=1
export DOCKER_CERT_PATH="${ENVIRONMENT}/docker_client"

